extends fabric/base.html.pug

block main
    <div id="game">

        <ul class="board">
            <li v-for="card in cards" @click="select(card)" :class="cardClass(card)" class="card">
                <p> {{ card.word }} </p>
                <p class="flip-text"> {{ card.word }} </p>
            </li>
        </ul>

        <button @click="valid">Valider</button>

    </div>
